name: ECU Test Level 3
#
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  checks: write
  contents: read 
  
jobs:
  build-sut:
    name: Build SUT
    runs-on: lvl3
    env:
      # actions/cache, actions/upload-artifact ..SSL validation off
      NODE_TLS_REJECT_UNAUTHORIZED: 0 
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache SUT
        id: cache-sut
        uses: actions/cache@v4
        with:
          path: |
            ./ECU/Level3SUT
          key: ${{ hashFiles('./ECU/BFC/Appl/Source', './ECU/BFC/Appl/IncludeVtt','./ECU/BFC/LightControl.dpa','./ECU/BFC/Config/**') }}

      - name: Cache BSW
        if: steps.cache-sut.outputs.cache-hit != 'true'
        id: cache-bsw
        uses: actions/cache@v4
        with:
          path: |
            ./ECU/BFC/Appl/GenDataVTT
          key: ${{ hashFiles('./ECU/BFC/LightControl.dpa','./ECU/BFC/Config/**','./ECU/LightControl-level3.vttmake') }}

        
       # VttMake Path
      - name: Add VttMake to PATH
        shell: pwsh
        run: |
            echo "C:\Program Files\Vector vVIRTUALtarget 9\Exec64" | Out-File -FilePath $env:GITHUB_PATH -Append
             
      - name: Run DaVinci & vVIRTUALtarget
        if: steps.cache-sut.outputs.cache-hit != 'true'
        env:
          cacheBSW: ${{ steps.cache-bsw.outputs.cache-hit }}
        run: |
          if ($env:cacheBSW -ne 'true'){
            & "$env:vVIRTUALtarget_InstallDir\vttmake.exe" make .\ECU\LightControl-level3.vttmake;      
          }
          else {
           & "$env:vVIRTUALtarget_InstallDir\vttmake.exe" make .\ECU\LightControl-level3.vttmake --excludeDVCfgCmd;  
          }
          if(-Not $?)
          {
            Write-Host "VttMake step failed." -ForegroundColor red
            Exit -1
          }

  build-simulation:
    name: Build simulation
    needs: [build-sut]
    runs-on: lvl3
    steps:
      - name: Make environment
        run: |
            &"$env:CANoe4SWSE_InstallDir\environment-make.exe" -o .\compiled-environment-and-tests -A Win32 -s L3_vECU .\environment-make\venvironment.yaml;
      - name: Make test units
        run: |
            &"$env:CANoe4SWSE_InstallDir\test-unit-make.exe" -e .\compiled-environment-and-tests\L3_vECU.venvironment -o .\compiled-environment-and-tests .\tests\auto\auto.vtestunit.yaml .\tests\basic\basic.vtestunit.yaml .\tests\testmsg\cycletime.vtestunit.yaml   

  run-tests-simulation:
    name: Run simulation
    needs: build-simulation
    runs-on: lvl3
    steps:
      - name: Run CANoe4SW Server Edition
        id: canoe4swse
        run : |
          & "$env:CANoe4SWSE_InstallDir\canoe4sw-se.exe" .\compiled-environment-and-tests\L3_vECU.venvironment -d .\simulation --win32 --port-rtk-api none --test-unit .\compiled-environment-and-tests\auto.vtestunit --test-unit .\compiled-environment-and-tests\basic.vtestunit --test-unit .\compiled-environment-and-tests\cycletime.vtestunit
          Write-Host "CANoe4SW Server Edition returned exit code $LASTEXITCODE"
        continue-on-error: true  

      - name: Add coverage data file and generate reports
        run: |
          & "$env:VECTORCAST_DIR\clicast.exe" -e cover_folder cover staged_instrumentation load
          & "$env:VECTORCAST_DIR\clicast.exe" -e cover_folder cover result add ".\..\..\TESTINSS.DAT" system_tests
          & "$env:VECTORCAST_DIR\clicast.exe" -e cover_folder cover report aggregate
          & "$env:VECTORCAST_DIR\manage.exe" -p project --delete
          & "$env:VECTORCAST_DIR\manage.exe" -p project --create
          & "$env:VECTORCAST_DIR\manage.exe" -p project --level compiler_template_not_used/TestSuite --create
          & "$env:VECTORCAST_DIR\manage.exe" -p project --level compiler_template_not_used/TestSuite --import cover_folder 
          & "$env:VECTORCAST_DIR\vpython.exe" .\vectorcast_gitlab\vc_scripts\generate_results.py project.vcm --cobertura
        working-directory: .\ECU\VectorCAST

      - name: Export CANoe test reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        env:
          NODE_EXTRA_CA_CERTS: .\certs\Vector_Root_2.0.crt 
        with:
          name: Test Reports CANoe-vECU lvl3
          path: |
            .\simulation\TestReports\
          retention-days: 7

      - name: Export vCAST coverage reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        env:
          NODE_EXTRA_CA_CERTS: .\certs\Vector_Root_2.0.crt 
        with:
          name: Test Reports vCAST-vECU lvl3
          path: |
            .\ECU\VectorCAST\*.html
          retention-days: 7                     

  # Job to display the test reports
  job-DisplayTestReports:
    name: Display Test Report
    if: ${{ !cancelled() }}
    needs: run-tests-simulation
    runs-on: lvl3
    steps:
      # convert all test reports to XUnit format
      - name: Convert all test reports to XUnit format
        run: |
          get-childitem . -Filter *.vtestreport | foreach {
            &"$env:TestReportViewer_InstallDir\ReportViewerCli.exe" -r $_ -xu
          }
        working-directory: .\Simulation\TestReports

      - name: Display Code Coverage Report
        uses: 5monkeys/cobertura-action@master
        env:
          NODE_EXTRA_CA_CERTS: .\certs\Vector_Root_2.0.crt         
        with:
          path: ECU\VectorCAST\xml_data\cobertura\coverage_results_project.xml
          minimum_coverage: 20
          show_line: true
          show_branch: true
          skip_covered: false
          report_name: VectorCAST Code Coverage
          show_missing: true        

      # display the test results using the dorny\test-reporter action
      - name: Display test results
        uses: actions-mirror/dorny-test-reporter@v1.9.1
        env:
          NODE_EXTRA_CA_CERTS: .\certs\Vector_Root_2.0.crt        
        with:
          name: vECU lvl3 Test Results                                       # Name of the check run which will be created
          path: "./simulation/TestReports/*.xml"                   # Path to test results
          reporter: java-junit                                          # Format of test results
          fail-on-error: 'true'                                        # Mark as failing job if test report contains any failed test (workaround because run simulation step must pass for Vcast reporting) 

  # Job to display the test reports in squore
  job-AddToSquore:
    name: Add Test Report to Squore
    if: ${{ !cancelled() }}
    needs: run-tests-simulation
    runs-on: dev
    steps:
      - name: Download test reports
        uses: actions/download-artifact@v2
        env:
          NODE_EXTRA_CA_CERTS: .\..\..\..\certs\Vector_Root_2.0.crt  
        with:
          name: Test Reports CANoe-vECU lvl3
          path: ./downloaded-reports-lvl3/

      # convert all test reports to XML format for Squore
      - name: Convert all test reports to xml format
        run: |
          get-childitem . -Filter *.vtestreport | foreach {
            &"$env:TestReportViewer_InstallDir\ReportViewerCli.exe" -r $_ -e
          }
        working-directory: .\downloaded-reports-lvl3\  
      
      #http://se01096nb:8180/ user:vecs pass:vecs123
      - name: Upload test reports to Squore
        run: |
          & .\import.bat "lvl3" "lvl3-${{ github.run_id }}-${{ github.run_attempt }}"
        working-directory: .\..\..\..\SquoreAgent\  